:root {
  --font-tag-size: 0.75rem;
  --font-tag-line-height: 1.25;
  --font-tag-weight: 600;
  --font-tag-letter-spacing: 0.02;
  --font-prices-size: 1.75rem;
  --color-background-status-tag-green: #8cd50b;
  --color-text-status-tag-green: ##000000;
  --color-background-quantity-decrement: #f2efee;
  --color-background-quantity-increment: #d3c7c3;
}

.itemRouteWrapper {
  position: relative;
}

.breadcrumbsWrapper {
  position: absolute;
  inset-inline-start: var(--size-scale-200);
  height: 60px;
  display: grid;
  align-items: center;
  z-index: 1;
}

.breadcrumbsList {
  display: flex;
}

.breadcrumbsList > * {
  padding-bottom: 2px;
  margin-right: 4px;
}

.breadcrumbsList a:hover {
  border-bottom: 2px solid #000000;
}

.breadcrumbsCurrent {
  font-weight: var(--font-weight-bold);
}

.itemWrapper {
  --item-details-width: 600px;
  display: grid;
  grid-template-columns: 1fr var(--item-details-width);
  margin-inline: auto;
}

.imageWrapper {
  position: relative;
  place-self: center;
  width: 100%;
  padding-block: var(--size-scale-400);
  padding-inline: var(--size-scale-200);
}

.imageBackground1 {
  background: url('https://cdn.sanity.io/images/dsfx7636/consumer_products/b8551562d7525bee89839714bb667923f7515d6e-2176x1912.webp') no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
  z-index: -1;
}

.imageBackground2 {
  position: absolute;
  background: url('https://cdn.sanity.io/images/dsfx7636/consumer_products/2ed0b8698a386ef2ceaf35a679ddf0fa2c93f917-2176x814.webp') no-repeat;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(0 0, 100% 8vw, 100% 100%, 0 100%);
  z-index: -1;
}

.image {
  width: clamp(200px, 100%, 450px);
  margin: auto;
  border-radius: 50%;
  transition: scale 0.4s ease-in-out;
}

.imageWrapper:hover .image {
  scale: 1.05;
}

.itemDetails {
  padding-block: var(--size-scale-250);
  padding-inline: var(--size-scale-200);
}

.tagsList {
  display: flex;
  gap: var(--size-scale-25);
  margin-bottom: var(--size-scale-100);
  flex-wrap: wrap;
  text-wrap: nowrap;
  text-transform: uppercase;
  font-size: var(--font-tag-size);
  font-weight: var(--font-tag-weight);
  letter-spacing: calc(var(--font-tag-letter-spacing)* 1em);
  line-height: calc(var(--font-tag-line-height)* 1em);
  color: var(--color-brand-neutral-dark);
}

.itemName {
  font-size: var(--font-heading-lg-size-max);
  line-height: var(--font-heading-lg-line-height-max);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.itemStatusTags {
  display: flex;
  gap: var(--size-scale-50);
}

.itemStatusTags > * {
  padding-block: var(--size-scale-50);
  padding-inline: var(--size-scale-100);
}

.discountTag {
  background-color: var(--color-background-status-tag-green);
  color: var(--color-text-status-tag-gree);
}

.itemPrices {
  display: flex;
  gap: var(--size-scale-100);
  font-size: var(--font-prices-size);
  margin-block: var(--size-scale-100);
}

.oldPrice {
  text-decoration: line-through;
  color: var(--color-brand-neutral-dark);
}

.quantityInfoWrapper {
  display: grid;
  gap: var(--size-scale-75);
}

.stockValue {
  font-weight: var(--font-weight-bold);
}

.quantityInputWrapper {
  display: grid;
  grid-template-columns: var(--size-scale-125) var(--size-scale-400) var(--size-scale-125);
  grid-template-rows: var(--size-scale-250);
  gap: var(--size-scale-25);
}

.quantityInputWrapper > button {
  border: none;
  cursor: pointer;
}

.quantityInput {
  padding: var(--size-scale-75);
}

.quantityDecrement {
  background-color: var(--color-background-quantity-decrement);
}

.quantityIncrement {
  background-color: var(--color-background-quantity-increment);
}

:is(.quantityDecrement, .quantityIncrement).quantityChangeInvalid {
  cursor: not-allowed;
}

.addToCartError {
  color: var(--color-text-error);
}

.callToActionsWrapper {
  padding-block: var(--size-scale-175);
  display: flex;
  gap: var(--size-scale-150);
}

.callToActionsWrapper > button {
  padding-block: var(--space-button-padding-block);
  padding-inline: var(--space-button-padding-inline);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.addToCart {
  color: var(--color-text-on-primary);
  background-color: var(--color-primary);
}

.addToCart:hover {
  background-color: var(--color-cta-primary-hover);
}

.addToCart:active {
  background-color: var(--color-cta-primary-active);
}

.buyItNow {
  color: var(--color-text-on-secondary);
  background-color: var(--color-secondary);
}

.buyItNow:hover {
  background-color: var(--color-cta-secondary-hover);
}

.buyItNow:active {
  background-color: var(--color-cta-secondary-active);
}

.descriptionWrapper {
  padding-block: var(--size-scale-150);
  display: grid;
  gap: var(--size-scale-100);
  border-block: 1px solid var(--color-brand-neutral-dark);
}

.descriptionHeader {
  font-size: var(--font-body-lg-size);
}
