:root {
  --font-tag-size: 0.75rem;
  --font-tag-line-height: 1.25;
  --font-tag-weight: 600;
  --font-tag-letter-spacing: 0.02;

  --font-prices-size: 1.75rem;

  --color-background-status-tag-green: #8cd50b;
  --color-text-status-tag-green: ##000000;

  --color-background-quantity-decrement: #f2efee;
  --color-background-quantity-increment: #d3c7c3;
}

.itemRouteWrapper {
  position: relative;
}

.breadcrumbsWrapper {
  position: absolute;
  z-index: 1;
  inset-inline-start: var(--size-scale-200);
  display: grid;
  align-items: center;
  height: 60px;
}

.breadcrumbsList {
  display: flex;
}

.breadcrumbsList > * {
  padding-bottom: 2px;
  margin-right: 4px;
  text-transform: capitalize;
}

.breadcrumbsList a:hover {
  border-bottom: 2px solid #000000;
}

.breadcrumbsCurrent {
  font-weight: var(--font-weight-bold);
}

.itemWrapper {
  --item-details-width: 600px;
  display: grid;
  grid-template-columns: 1fr var(--item-details-width);
  margin-inline: auto;
}

@media (max-width: 62.5rem) {
  .itemWrapper {
    grid-template-columns: 1fr;
  }
}

.imageWrapper {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  padding-block: var(--size-scale-400);
  padding-inline: var(--size-scale-200);
}

.imageBackground1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url('https://cdn.sanity.io/images/dsfx7636/consumer_products/b8551562d7525bee89839714bb667923f7515d6e-2176x1912.webp') no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.imageBackground2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url('https://cdn.sanity.io/images/dsfx7636/consumer_products/2ed0b8698a386ef2ceaf35a679ddf0fa2c93f917-2176x814.webp') no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 45%;
  clip-path: polygon(0 0, 100% 8vw, 100% 100%, 0 100%);
}

.image {
  width: clamp(200px, 100%, 450px);
  margin: auto;
  border-radius: 50%;
  transition: scale 0.4s ease-in-out;
}

.imageWrapper:hover .image {
  scale: 1.05;
}

.itemDetails {
  padding-block: var(--size-scale-250);
  padding-inline: var(--size-scale-200);
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-scale-25);
  margin-bottom: var(--size-scale-100);
  color: var(--color-brand-neutral-dark);
  font-size: var(--font-tag-size);
  font-weight: var(--font-tag-weight);
  line-height: calc(var(--font-tag-line-height)* 1em);
  letter-spacing: calc(var(--font-tag-letter-spacing)* 1em);
  text-wrap: nowrap;
  text-transform: uppercase;
}

.itemName {
  font-size: var(--font-heading-lg-size-max);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-heading-lg-line-height-max);
  text-transform: uppercase;
}

@media (max-width: 26.25rem) {
  .itemName {
    font-size: var(--font-heading-lg-size-min);
  }
}

@media (max-width: 22.5rem) {
  .itemName {
    font-size: var(--font-body-xl-size);
  }
}

.itemStatusTags {
  display: flex;
  gap: var(--size-scale-50);
  font-weight: var(--font-weight-medium);
}

.itemStatusTags > * {
  padding-block: var(--size-scale-50);
  padding-inline: var(--size-scale-100);
}

.discountTag {
  background-color: var(--color-background-status-tag-green);
  color: var(--color-text-status-tag-gree);
}

.outOfStockTag {
  color: var(--color-text-on-dark);
  background-color: var(--color-brand-neutral-dark);
}

.itemPrices {
  display: flex;
  gap: var(--size-scale-100);
  margin-block: var(--size-scale-100);
  font-size: var(--font-prices-size);
}

.oldPrice {
  color: var(--color-brand-neutral-dark);
  text-decoration: line-through;
}

.descriptionWrapper {
  display: grid;
  gap: var(--size-scale-100);
  padding-block: var(--size-scale-150);
  border-block: 1px solid var(--color-brand-neutral-dark);
}

.descriptionHeader {
  font-size: var(--font-body-lg-size);
}
