@font-face {
    font-family: 'League';
    src: url('../assets/fonts/LeagueRegular.woff2') format('woff2'),
        url('../assets/fonts/LeagueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beaufort for LOL';
    src: url('../assets/fonts/BeaufortforLOL-Regular.woff2') format('woff2'),
        url('../assets/fonts/BeaufortforLOL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beaufort for LOL';
    src: url('../assets/fonts/BeaufortforLOL-Bold.woff2') format('woff2'),
        url('../assets/fonts/BeaufortforLOL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background-light: #ffffff;
  --color-background-dark: #000000;
  --color-text-on-light: #000000;
  --color-text-on-dark: #ffffff;

  --color-primary: #c8aa6e;
  --color-text-on-primary: #0A1428;
  --color-cta-primary-hover: #d3bb8b;
  --color-cta-primary-active: #d5b678;

  --color-secondary: #59C1DE;
  --color-text-on-secondary: #0A1428;
  --color-cta-secondary-hover: #7acde4;
  --color-cta-secondary-active: #5ec7e4;

  --color-brand-primary: #eb0029;
  --color-brand-neutral-light: #888888;
  --color-brand-neutral-dark: #666666;

  --color-background-search-dark: #2b2a29;
  --color-text-search-on-dark: #f9f9f9;

  --color-text-error: #eb0029;
  
  --color-icon-delete: #eb0029;
  
  --ff-default: 'Beaufort for LOL';

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --size-scale-25: 0.25rem;
  --size-scale-50: 0.5rem;
  --size-scale-75: 0.75rem;
  --size-scale-100: 1rem;
  --size-scale-112: 1.12rem;
  --size-scale-125: 1.25rem;
  --size-scale-150: 1.5rem;
  --size-scale-175: 1.75rem;
  --size-scale-200: 2rem;
  --size-scale-250: 2.5rem;
  --size-scale-300: 3rem;
  --size-scale-350: 3.5rem;
  --size-scale-375: 3.75rem;
  --size-scale-400: 4rem;
  --size-scale-500: 5rem;
  --size-scale-600: 6rem;
  --size-scale-800: 9rem;

  --size-spacing-section-sm-min: var(--size-scale-150);
  --size-spacing-section-sm-max: var(--size-scale-300);
  --size-spacing-section-md-min: var(--size-scale-300);
  --size-spacing-section-md-max: var(--size-scale-600);
  --size-spacing-section-lg-min: var(--size-scale-600);
  --size-spacing-section-lg-max: var(--size-scale-800);

  --font-heading-xl-size-min: 3rem;
  --font-heading-xl-size-max: 4rem;
  --font-heading-xl-line-height-min: 1.1;
  --font-heading-xl-line-height-max: 1;
  --font-heading-xl-letter-spacing-min: -0.03;
  --font-heading-xl-letter-spacing-max: -0.04;

  --font-heading-lg-size-min: 2.375rem;
  --font-heading-lg-size-max: 3rem;
  --font-heading-lg-line-height-min: 1.15;
  --font-heading-lg-line-height-max: 1.3;
  --font-heading-lg-letter-spacing-min: -0.02;
  --font-heading-lg-letter-spacing-max: -0.03;

  --font-heading-md-size-min: 1.75rem;
  --font-heading-md-size-max: 2.375rem;
  --font-heading-md-line-height-min: 1.15;
  --font-heading-md-line-height-max: 1.1;
  --font-heading-md-letter-spacing-min: -0.01;
  --font-heading-md-letter-spacing-max: -0.02;

  --font-heading-sm-size-min: 1rem;
  --font-heading-sm-size-max: 1.75rem;
  --font-heading-sm-line-height-min: 1.125;
  --font-heading-sm-line-height-max: 1.15;
  --font-heading-sm-letter-spacing-min: 0;
  --font-heading-sm-letter-spacing-max: -0.01;

  --font-heading-xs-size-min: 1rem;
  --font-heading-xs-size-max: 1.25rem;
  --font-heading-xs-line-height: 1.125;
  --font-heading-xxs-size: 0.75rem;
  --font-heading-xxs-line-height: 1.2;
  --font-heading-xxs-letter-spacing-min: 0;
  --font-heading-xxs-letter-spacing-max: -0.01;

  --font-body-xl-size: 2rem;
  --font-body-xl-line-height: 0.95;
  --font-body-xl-weight: var(--font-weight-regular);

  --font-body-lg-size: 1.125rem;
  --font-body-lg-line-height: 1.25;
  --font-body-lg-weight: var(--font-weight-regular);

  --font-body-rg-size: 1rem;
  --font-body-rg-line-height: 1.25;
  --font-body-rg-weight: var(--font-weight-regular);

  --font-body-sm-size: 0.875rem;
  --font-body-sm-line-height: 1.25;
  --font-body-sm-weight: var(--font-weight-regular);

  --font-button-size: 1rem;
  --font-button-line-height: 1.125;
  --font-button-letter-spacing: 0.02;

  --space-button-padding-block: var(--size-scale-112);
  --space-button-padding-inline: var(--size-scale-200);

  /* more to appropriate module */
  --font-brand-family: 'League', Helvetica, Arial, sans-serif;
  --font-brand-size: 1rem;
  --font-brand-line-height: 1.25;
  --font-brand-weight: var(--font-weight-bold);
  --image-brand-width: 36px;

  --font-navlist-weight: var(--font-weight-bold); /* move to appropriate module */
  --color-text-navlist-hover: var(--color-primary); /* move to appropriate module */
}

body {
  min-height: 100dvh;
  font-family: var(--ff-default, system-ui, Avenir, Helvetica, Arial, sans-serif);
  font-size: var(--font-body-rg-size);
  line-height: var(--font-body-rg-line-height);
  font-weight: var(--font-body-rg-weight);
  color: var(--color-text-on-light);
  background-color: var(--color-background-light);
}
