@font-face {
    font-family: 'League';
    src: url('../assets/fonts/LeagueRegular.woff2') format('woff2'),
        url('../assets/fonts/LeagueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beaufort for LOL';
    src: url('../assets/fonts/BeaufortforLOL-Regular.woff2') format('woff2'),
        url('../assets/fonts/BeaufortforLOL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beaufort for LOL';
    src: url('../assets/fonts/BeaufortforLOL-Bold.woff2') format('woff2'),
        url('../assets/fonts/BeaufortforLOL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background-light: #ffffff;
  --color-background-dark: #111;
  --color-background-neutral-light: #B7B9BE;
  --color-background-neutral-dark: #6B6E76;
  --color-text-on-light: #111;
  --color-text-on-dark: #ffffff;
  --color-primary: #c8aa6e;
  --color-secondary: #0bc4e2;
  --color-brand-primary: #eb0029;
  --color-background-search-dark: #2b2a29;
  --color-text-search-on-dark: #f9f9f9;
  
  --neutral-0: #FFFFFF;
  --neutral-100: #F8F8F8;
  --neutral-200: #f0f1f2;
  --neutral-300: #DDDEE1;
  --neutral-400: #B7B9BE;
  --neutral-500: #8C8F97;
  --neutral-600: #7D818A;
  --neutral-700: #6B6E76;
  --neutral-800: #505258;
  --neutral-900: #3B3D42;
  --neutral-1000: #292A2E;
  --neutral-1100: #1E1F21;
  
  --ff-default: 'Beaufort for LOL';

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --size-scale-25: 0.25rem;
  --size-scale-50: 0.5rem;
  --size-scale-75: 0.75rem;
  --size-scale-100: 1rem;
  --size-scale-125: 1.25rem;
  --size-scale-150: 1.5rem;
  --size-scale-175: 1.75rem;
  --size-scale-200: 2rem;
  --size-scale-250: 2.5rem;
  --size-scale-300: 3rem;
  --size-scale-350: 3.5rem;
  --size-scale-375: 3.75rem;
  --size-scale-400: 4rem;
  --size-scale-500: 5rem;
  --size-scale-600: 6rem;
  --size-scale-800: 9rem;

  --size-spacing-section-sm-min: var(--size-scale-150);
  --size-spacing-section-sm-max: var(--size-scale-300);
  --size-spacing-section-md-min: var(--size-scale-300);
  --size-spacing-section-md-max: var(--size-scale-600);
  --size-spacing-section-lg-min: var(--size-scale-600);
  --size-spacing-section-lg-max: var(--size-scale-800);

  --font-heading-xl-size-min: 3rem;
  --font-heading-xl-size-max: 4rem;
  --font-heading-xl-line-height-min: 1.1;
  --font-heading-xl-line-height-max: 1;
  --font-heading-xl-letter-spacing-min: -0.03;
  --font-heading-xl-letter-spacing-max: -0.04;

  --font-heading-lg-size-min: 2.375rem;
  --font-heading-lg-size-max: 3rem;
  --font-heading-lg-line-height-min: 1.1;
  --font-heading-lg-line-height-max: 1.1;
  --font-heading-lg-letter-spacing-min: -0.02;
  --font-heading-lg-letter-spacing-max: -0.03;

  --font-heading-md-size-min: 1.75rem;
  --font-heading-md-size-max: 2.375rem;
  --font-heading-md-line-height-min: 1.15;
  --font-heading-md-line-height-max: 1.1;
  --font-heading-md-letter-spacing-min: -0.01;
  --font-heading-md-letter-spacing-max: -0.02;

  --font-heading-sm-size-min: 1rem;
  --font-heading-sm-size-max: 1.75rem;
  --font-heading-sm-line-height-min: 1.125;
  --font-heading-sm-line-height-max: 1.15;
  --font-heading-sm-letter-spacing-min: 0;
  --font-heading-sm-letter-spacing-max: -0.01;

  --font-heading-xs-size: 1rem;
  --font-heading-xs-line-height: 1.125;
  --font-heading-xxs-size: 0.75rem;
  --font-heading-xxs-line-height: 1.2;
  --font-heading-xxs-letter-spacing-min: 0;
  --font-heading-xxs-letter-spacing-max: -0.01;

  --font-body-xl-size: 2rem;
  --font-body-xl-line-height: 0.95;
  --font-body-xl-weight: var(--font-weight-regular);

  --font-body-lg-size: 1.125rem;
  --font-body-lg-line-height: 1.25;
  --font-body-lg-weight: var(--font-weight-regular);

  --font-body-rg-size: 1rem;
  --font-body-rg-line-height: 1.25;
  --font-body-rg-weight: var(--font-weight-regular);

  --font-body-sm-size: 0.875rem;
  --font-body-sm-line-height: 1.25;
  --font-body-sm-weight: var(--font-weight-regular);

  --font-brand-family: 'League', Helvetica, Arial, sans-serif;
  --font-brand-size: 1rem;
  --font-brand-line-height: 1.25;
  --font-brand-weight: var(--font-weight-bold);
  --image-brand-width: 36px;

  --font-navlist-weight: var(--font-weight-bold);
  --color-text-navlist-hover: var(--color-primary);
}

body {
  min-height: 100dvh;
  font-family: var(--ff-default, system-ui, Avenir, Helvetica, Arial, sans-serif);
  font-size: var(--font-body-rg-size);
  line-height: var(--font-body-rg-line-height);
  font-weight: var(--font-body-rg-weight);
  color: var(--color-text-on-light);
  background-color: var(--color-background-light);
}
