.cartItemWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--size-scale-100);
}

.cartItemImageWrapper {
  --cart-image-size: var(--size-scale-700);

  align-self: center;
  width: var(--cart-image-size);
  height: var(--cart-image-size);
  border-radius: 50%;
  overflow: hidden;
}

@container cartItems (max-width: 37.5rem) {
  .cartItemImageWrapper {
    --cart-image-size: var(--size-scale-600);
  }
}

.cartDetailsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-scale-75);
  container: cartDetails / inline-size;
}

.cartItemName {
  font-size: var(--font-heading-xs-size-max);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cartItemPrices {
  display: flex;
  gap: var(--size-scale-25);
  font-weight: var(--font-weight-bold);
}

.oldPrice {
  color: var(--color-brand-neutral-dark);
  text-decoration: line-through;
}

:is(.cartItemName, .stockValue, .cartItemTotal) {
  font-weight: var(--font-weight-bold);
}

.cartItemRemove {
  justify-self: end;
  grid-column: 2;
  grid-row: 1;
}

.cartItemRemove button {
  display: grid;
  place-content: center;
  width: var(--size-scale-150);
  height: var(--size-scale-150);
  border: 1px solid var(--color-brand-neutral-light);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.cartItemRemove button:hover {
  background-color: #e1e1e1;
}

.cartItemRemove button:active {
  scale: 0.95;
}

.cartItemRemove svg {
  stroke: var(--color-icon-delete);
}

.cartItemTotal {
  align-self: flex-end;
}

.cartItemQuantityWrapper {
  justify-self: flex-end;
  align-self: flex-end;
  grid-column: 2;
  grid-row: 2;
}

@container cartDetails (max-width: 18.75rem) {
  .cartDetailsWrapper {
    grid-template-columns: 1fr 1fr;
  }

  .cartItemDetails {
    grid-column: 1 / -1;
  }

  .cartItemTotal {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .cartItemRemove {
    justify-self: end;
    grid-column: 2;
    grid-row: 3;
  }

  .cartItemQuantityWrapper {
    justify-self: start;
    grid-column: 1;
    grid-row: 3;
  }
}

.cartItemQuantityInputWrapper {
  display: grid;
  grid-template-columns: var(--size-scale-150) var(--size-scale-200) var(--size-scale-150);
  grid-template-rows: var(--size-scale-150);
  gap: var(--size-scale-25);
}

.cartItemQuantityInputWrapper > button {
  border: none;
  cursor: pointer;
}

.cartItemQuantityInput {
  padding: var(--size-scale-25);
  text-align: center;
}

.cartItemQuantityDecrement {
  background-color: var(--color-background-quantity-decrement);
}

.cartItemQuantityIncrement {
  background-color: var(--color-background-quantity-increment);
}
