.cartRouteWrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: var(--size-scale-300);
  padding: var(--size-scale-200);
}

.shopNowWrapper {
  justify-self: center;
  display: grid;
  margin-top: var(--size-scale-300);
  border: none;
  outline: 1px solid var(--cta-ornamental-outline-color);
  outline-offset: 3px;
  color: var(--color-text-on-primary);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.shopNowWrapper:hover {
  background-color: var(--color-cta-primary-hover);
}

.shopNowWrapper:active {
  background-color: var(--color-cta-primary-active);
}

.shopNow {
  padding-block: var(--space-button-padding-block);
  padding-inline: var(--space-button-padding-inline);
}
