.cartItemWrapper {
  --cart-image-size: var(--size-scale-800);

  display: grid;
  grid-template-columns: var(--cart-image-size) 1fr;
  grid-template-rows: var(--cart-image-size);
  gap: var(--size-scale-100);
}

/* can put image background or make image round */
/* .cartImageWrapper {
  
} */

.cartDetailsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cartItemName {
  font-size: var(--font-heading-xs-size-max);
}

.cartItemPrices {
  display: flex;
  gap: var(--size-scale-25);
  font-weight: var(--font-weight-bold);
}

.oldPrice {
  color: var(--color-brand-neutral-dark);
  text-decoration: line-through;
}

:is(.cartItemName, .stockValue, .cartItemTotal) {
  font-weight: var(--font-weight-bold);
}

.cartItemRemove {
  justify-self: end;
}

.cartItemRemove button {
  display: grid;
  place-content: center;
  width: var(--size-scale-150);
  height: var(--size-scale-150);
  border: 1px solid var(--color-brand-neutral-light);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.cartItemRemove button:hover {
  background-color: #e1e1e1;
}

.cartItemRemove button:active {
  scale: 0.95;
}

.cartItemRemove svg {
  stroke: var(--color-icon-delete);
}

.cartItemTotal {
  align-self: flex-end;
}

.cartItemQuantityWrapper {
  justify-self: flex-end;
  align-self: flex-end;
}

.cartItemQuantityInputWrapper {
  display: grid;
  grid-template-columns: var(--size-scale-150) var(--size-scale-200) var(--size-scale-150);
  grid-template-rows: var(--size-scale-150);
  gap: var(--size-scale-25);
}

.cartItemQuantityInputWrapper > button {
  border: none;
  cursor: pointer;
}

.cartItemQuantityInput {
  padding: var(--size-scale-25);
  text-align: center;
}

.cartItemQuantityDecrement {
  background-color: var(--color-background-quantity-decrement);
}

.cartItemQuantityIncrement {
  background-color: var(--color-background-quantity-increment);
}
