:root {
  --header-height: 80px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: grid;
  width: 100%;
  height: var(--header-height);
  color: var(--color-text-on-dark);
  background-color: var(--color-background-dark);
}

.nav {
  display: grid;
}

.navWrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding-inline: var(--size-scale-200);
}

.brand {
  display: flex;
  align-items: center;
  gap: var(--size-scale-25);
  font-family: var(--font-brand-family);
  font-size: var(--font-brand-size);
  font-weight: var(--font-brand-weight);
}

.brandImage {
  width: var(--image-brand-width);
}

.navWrapperCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--size-scale-200);
}

.navLinkList {
  display: flex;
  align-items: center;
  gap: var(--size-scale-200);
  padding-inline: var(--size-scale-200);
  font-weight: var(--font-navlist-weight);
  text-transform: uppercase;
}

.navLinkList a {
  padding-block: var(--size-scale-50);
  padding-inline: var(--size-scale-100);
  border-radius: 8px;
  position: relative;
}

.navLinkList a:hover {
  color: var(--color-text-navlist-hover);
  background-color: rgb(128 128 128 / 30%);
  transition: color 0.1s ease-out;
}

.navLinkList a:hover::before {
  content: '';
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: calc( var(--size-scale-75) * -1);
  height: 4px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--color-secondary);
}


.headerSearchStyles {
  --search-background-color: var(--color-background-search-dark);
  --search-text-color: var(--color-text-search-on-dark);
  --search-border-radius: 16px;
}

.headerMenuSearchStyles {
  --search-background-color: var(--color-background-search-light);
  --search-text-color: var(--color-text-search-on-light);
  --search-border-radius: 0;
}

.cartWrapper {
  --cart-icon-size: 24px;
  position: relative;
  display: grid;
  width: var(--cart-icon-size);
  height: var(--cart-icon-size);
}

.cartQuantity {
  --cart-quantity-size: 24px;
  position: absolute;
  inset-inline-end: calc(var(--cart-quantity-size) * -0.583);
  inset-block-start: calc(var(--cart-quantity-size) * -0.583);
  display: grid;
  place-content: center;
  width: var(--cart-quantity-size);
  height: var(--cart-quantity-size);
  border-radius: 50%;
  background-color: var(--color-brand-primary);
}

.navWrapperRight {
  display: flex;
  align-items: center;
  gap: var(--size-scale-200);
}

.headerMenu {
  display: none;
}

.headerMenu > button {
  background-color: transparent;
  border: none;
  color: var(--color-text-on-dark);
  cursor: pointer;
}

@media (max-width: 62.5rem) {
  .navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navWrapperCenter {
    display: none;
  }

  .headerMenu {
    display: inline-block;
  }
}
