/* .resultsWrapper {

} */

.resultsMain {
  position: relative;
  z-index: 1;
  display: grid;
  place-content: center;
  text-align: center;
  padding-block: var(--size-scale-400);
  padding-inline: var(--size-scale-200);
  background-color: var(--color-background-dark-800);
  color: var(--color-text-on-dark);
  overflow: hidden;
}

.resultsMainBackground {
  position: absolute;
  top: -314px;
  height: 982px;
  width: 100%;
  opacity: 0.2;
  z-index: -1;
  background: url('../assets/images/RiotPattern-TextHeroWidget.svg') center / cover no-repeat;
  transform: rotate(20deg);
  scale: 1.1;
}

.resultsMainHeading {
  font-size: var(--font-heading-lg-size-max);
  font-weight: var(--font-weight-bold);
  font-style: italic;
  text-transform: uppercase;
}

.resultsBottom {
  display: grid;
  justify-content: center;
  padding-block: var(--size-scale-200);
  padding-inline: var(--size-scale-200);
}
