.breadcrumbsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--size-scale-200);
  height: 60px;
}

.breadcrumbsList {
  display: flex;
}

.breadcrumbsList > * {
  padding-bottom: 2px;
  margin-right: 4px;
}

.breadcrumbsList a:hover {
  border-bottom: 2px solid #000000;
}

.breadcrumbsCurrent {
  font-weight: var(--font-weight-bold);
}

.breadcrumbsControlsButton {
  padding-block: var(--space-button-sm-padding-block);
  padding-inline: var(--space-button-sm-padding-inline);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  color: var(--color-text-on-primary);
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: var(--size-scale-25);
  font-weight: var(--font-weight-medium);
}

.breadcrumbsControlsButton:hover {
  background-color: var(--color-cta-primary-hover);
}

.breadcrumbsControlsButton:active {
  background-color: var(--color-cta-primary-active);
}
